<div *ngIf="produit">
    <h2>{{produit.nom | titlecase}}</h2>
    <div>
        <span> quantite: {{produit.quantite}}</span>
    </div>
    <button class="suppression" (click)="supprimerProduit()">Supprimer ce produit</button>

    <form [formGroup]="formModifProduit" (ngSubmit)="modifierProduit()">
        <div>
            <label>Nouvelle quantite ? </label>
            <input id="nom" type="text" formControlName="quantite" placeholder="ex. 5"/>
        
            <button class="update" type="submit">Modifier quantite</button>
        </div>
    </form>
    
    <button class="retour" (click)="retour()">Retour</button>

</div>