<h3>Je remplis mon frigo</h3>
<div class="nouveauProduit">
    <form [formGroup]="formNouveauProduit" (ngSubmit)="rechercher()">
        <div class="form-nomProduit">
            <label>Nom du produit* : </label>
            <input id="nom" type="text" formControlName="nom" placeholder="ex. Tomate" required/>
        </div>

        <div class="form-nomProduit">
            <label>Quantit&eacute;* : </label>
            <input id="quantite" type="text" formControlName="quantite" placeholder="ex. 5" required/>
        </div>
    
        <div>
            <p>*Tous les champs sont requis pour valider l'ajout du produit</p>
            <button type="submit" [disabled]="formNouveauProduit.invalid" >Valider</button>
        </div>
        <div>
            
        </div>
    </form>
    <button (click)="retour()">Annuler</button>
</div>
